<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <ul>
            <li><a asp-controller="Chord" asp-action="List">Chord List</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
