@model ChordsListViewModel


    <h1>@Model.CurrentMusicalKey</h1>
    @foreach (var chord in Model.Chords)
    {
        <div>
            <h2>
                @chord.ChordName
            </h2>
        </div>
    }
